<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vigenere Cipher</title>
        <link href="http://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container mt-4">
            {% if error %}
            <div class="alert alert-danger" role="alert"><strong>Lỗi!</strong> {{ error }}</div>
            {% endif %}
            {% if result %}
            <div class="alert alert-success" role="alert"><strong>Kết quả:</strong> {{ result }}</div>
            {% endif %}

            <table class="table table-bordered">
                <tr><td style="text-align: center; font-weight: bold; font-size: 25px;">VIGENERE CIPHER</td></tr>
                <tr><td style="font-weight: bold; color: blue;">ENCRYPTION</td></tr>
                <tr>
                    <td>
                        <form method="POST" action="/vigenere_encrypt">
                            <div class="mb-3">
                                <label class="form-label">Plain text:</label>
                                <input type="text" class="form-control" name="inputPlainText" placeholder="Input Plain Text" required autofocus/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Key (Text):</label>
                                <input type="text" class="form-control" name="inputKeyPlain" placeholder="Input Key" 
                                       pattern="[A-Za-z]+" title="Khóa chỉ được chứa các chữ cái từ A-Z, không chứa khoảng trắng hay số" required/>
                            </div>
                            <button type="submit" class="btn btn-primary">Encrypt</button>
                        </form>
                    </td>
                </tr>
                <tr><td style="font-weight: bold; color: blue;">DECRYPTION</td></tr>
                <tr>
                    <td>
                        <form method="POST" action="/vigenere_decrypt">
                            <div class="mb-3">
                                <label class="form-label">Cipher text:</label>
                                <input type="text" class="form-control" name="inputCipherText" placeholder="Input Cipher Text" required/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Key (Text):</label>
                                <input type="text" class="form-control" name="inputKeyCipher" placeholder="Input Key Cipher" 
                                       pattern="[A-Za-z]+" title="Khóa chỉ được chứa các chữ cái từ A-Z, không chứa khoảng trắng hay số" required/>
                            </div>
                            <button type="submit" class="btn btn-success">Decrypt</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>